/* 页面主体容器 */
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 全局背景色 */
body {
    background-color: #222222;
    color: #fafafa;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    /* line-height: 1.4; */
}

ul, ol { 
    padding-left: 2.7em;
    margin-top: 0em
}

ul li, ol li {
    line-height: 1.5;
    margin-bottom: 0.3em;
}

/* Callout公共样式 */
.callout {
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 4px;
    font-family: sans-serif;
}

/* Callout类型样式 */
.callout.note { background-color: #2a548c64; }
.callout.tip { border-color: #4CAF50; }
.callout.warning { border-color: #FF9800; background-color: #fff3e0; }
.callout.error { border-color: #f44336; background-color: #ffe6e6; }

/* 标题样式 */
.callout .title {
    color: #0f72f4;
    font-weight: bold;
    margin-bottom: 16px;
}